In [1]:
4+3

7

In [11]:
if 4<3:
    print("da")
else:
        print("ne")

ne

In [14]:
type('sutka')

str

In [15]:
'data'.lower()

'data'

In [17]:
'DaTa'.upper()

'DATA'

In [8]:
number=0.34678
round(number,2)

skraten_broj=float(f"{number:.3f}")
print(skraten_broj)

0.347

In [9]:
str(1)

'1'

In [10]:
bool("da")

True

In [11]:
bool(0)

False

In [12]:
import math

In [13]:
import operator

In [14]:
math.sqrt(25)

5.0

In [15]:
l=[2,3,4,[2,4],"zdr"]

In [16]:
l

[2, 3, 4, [2, 4], 'zdr']

In [20]:
list=[]
for i in range(10):
    list.append(i)

list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list[-2]

8

In [31]:
list.insert(3,12)
list

[0, 1, 2, 12, 12, 3, 4, 5, 6, 7, 8, 9]

In [32]:
print(len(list))

12

In [33]:
list.remove(8)

In [34]:
list

[0, 1, 2, 12, 12, 3, 4, 5, 6, 7, 9]

In [35]:
list.append(l)

In [36]:
list

[0, 1, 2, 12, 12, 3, 4, 5, 6, 7, 9, [2, 3, 4, [2, 4], 'zdr']]

In [37]:
tuple=(1,2,3)
tuple

(1, 2, 3)

In [38]:
tuple[1]

2

In [39]:
#tuple isto kako lista sa,mo pobrzo

In [40]:
set={"eden","dva",'tri'}

In [41]:
set

{'dva', 'eden', 'tri'}

In [42]:
person = {
    "name": "Milena",
    "surname": "Trajanoska",
    "embg": "1235345346",
    "age": 25,
    "height": 160.5,
}

In [43]:
person["weight"]=300

In [44]:
person

{'name': 'Milena',
 'surname': 'Trajanoska',
 'embg': '1235345346',
 'age': 25,
 'height': 160.5,
 'weight': 300}

In [45]:
len(person)

6

In [56]:
import numpy as np
import pandas as pd

In [60]:
arr=np.array([1,2,3,4,"zdr"])

In [61]:
arr

array(['1', '2', '3', '4', 'zdr'], dtype='<U21')

In [62]:
arr.ndim

1

In [63]:
arr.shape

(5,)

In [65]:
data = {
    "index": [1235, 43534, 43253, 54353],
    "name": ["Milena", "Jovana", "Ana", "Dimitar"],
    "grade": [5, 6, 7, 8]
}

In [66]:
df=pd.DataFrame(data)

In [67]:
df

   index     name  grade
0   1235   Milena      5
1  43534   Jovana      6
2  43253      Ana      7
3  54353  Dimitar      8

In [68]:
df.to_csv('grades.csv')

In [2]:
def add(x,y):
    return x+y

In [3]:
add(2,3)

5